<div class="table">
  @if(isAdmin$ | async) {
  <div class="table-operations">
    <button nz-button (click)="create()" nzType="primary">
      Create student
    </button>

    <button nz-button (click)="downloadExcelFile()" nzType="primary">
      Export
    </button>

    <input
      type="file"
      name="file"
      id="file"
      #file
      (change)="handleUpload()"
      style="display: none"
      accept=".xlsx"
    />

    @if(fileLoading) {
    <button nz-button>
      <div class="btn-upload-loading">
        <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
        <span>Loading</span>
      </div>
    </button>
    } @else {

    <button nz-button (click)="file.click()">
      <span nz-icon nzType="upload"></span>
      Upload
    </button>
    }
  </div>
  }
  <nz-table
    #table
    [nzData]="studentsList"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
    nzTableLayout="fixed"
  >
    <app-table-column
      [listOfColumns]="
        (isAdmin$ | async) ? listOfColumns : listOfColumns.slice(0, -1)
      "
      (search)="onSearch($event)"
      (reset)="onReset($event)"
    ></app-table-column>
    <tbody>
      <tr *ngFor="let data of table.data; trackBy: trackByStudentId">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.school?.name ?? "No School" }}</td>
        <td>{{ toDateString(data.dateOfBirth) }}</td>
        <td>{{ toDateString(data.startedAt) }}</td>
        @if(isAdmin$ | async) {
        <td>
          <button nz-button nzType="primary" (click)="onStudentEdit(data.id)">
            Edit
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button
            nz-button
            nzType="primary"
            nzDanger
            (click)="onStudentDelete(data.id)"
          >
            Delete
          </button>
        </td>
        }
      </tr>
    </tbody>
  </nz-table>
</div>
