<thead>
  <tr>
    @for (column of listOfColumns; track column.name) { @if (column.sortOrder &&
    column.sortFn && column.sortDirections) {
    <th
      [nzSortOrder]="column.sortOrder"
      [nzSortFn]="column.sortFn"
      [nzSortDirections]="column.sortDirections"
    >
      <div
        nz-flex
        nzAlign="center"
        nzJustify="space-between"
        style="padding-right: 10px"
      >
        {{ column.name }}
        @if(column.searchable) {
        <app-search
          [column-name]="column.name"
          [field-name]="column.fieldName ?? column.name.toLowerCase()"
          (search)="onSearch($event)"
          (reset)="onReset($event)"
        ></app-search>
        }
      </div>
    </th>
    } @else {
    <th>{{ column.name }}</th>
    } }
  </tr>
</thead>
