@if(!loading) { @if(unexpectedError) {
<nz-alert
  nzType="error"
  nzMessage="Unexpected error"
  nzDescription="An unexpected error occurred. Please try again later."
  nzShowIcon
  style="margin: 0 auto 20px; max-width: 400px"
></nz-alert>
}
<div style="padding: 0 10px">
  <nz-card style="max-width: 400px; margin: 10px auto">
    <h3 style="margin-bottom: 20px; text-align: center">Sign Up</h3>
    <form
      nz-form
      [formGroup]="signupForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item nzFlex style="margin-bottom: 10px">
        <nz-form-label nzSpan="24">Username</nz-form-label>
        <nz-form-control nzSpan="24">
          <nz-input-group nzPrefixIcon="user" style="margin-bottom: 5px">
            <input
              type="text"
              nz-input
              formControlName="username"
              placeholder="Username"
            />
          </nz-input-group>
          <p
            *ngIf="username?.invalid && username?.touched"
            nz-typography
            nzType="danger"
          >
            {{ getErrorMessage("username") }}
          </p>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="24">Password</nz-form-label>
        <nz-form-control nzSpan="24">
          <nz-input-group nzPrefixIcon="lock" style="margin-bottom: 5px">
            <input
              type="text"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
          <p
            *ngIf="password?.invalid && password?.touched"
            nz-typography
            nzType="danger"
          >
            {{ getErrorMessage("password") }}
          </p>
        </nz-form-control>
      </nz-form-item>

      <div class="login-form-margin">
        <div
          nz-row
          nzJustify="center"
          nzAlign="middle"
          style="margin-bottom: 20px"
        >
          <button
            nz-button
            [nzType]="'primary'"
            [disabled]="signupForm.invalid"
          >
            Sign Up
          </button>
        </div>
        <div
          nz-row
          nzJustify="center"
          nzAlign="middle"
          style="margin-bottom: 20px"
        >
          <a routerLink="/login">Already have an account?</a>
        </div>
      </div>
    </form>
  </nz-card>
</div>

}
