.logout--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.logout--btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
